.fizzbanner {
  background-image: url('./images/games.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

#fizzheading {
    text-align: center;
    text-transform: uppercase;
    text-decoration-style: solid;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-radius: 20px solid;
    margin-top: 40px;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 30px;
}

#number {
    margin-left: 70px;
    height: 35px;
    width: 250px;
    margin-top: 5px;
    font-size: 25px
}

#gamebox {

    border-style: solid;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 70px;

}


#calculate {
    margin-left: 70px;
    height: 50px;
    margin-top: 5px;
    font-size: 25px
}

.result {
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  background-color: green;
  color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  height: 10px;
}

#randomnumber {
  margin-left: 70px;
  font-size: 20px

}
